{{ define "main" }}
<div class="container mx-auto w-full max-w-4xl lg:max-w-5xl">
  <div class="xs:hidden block rounded-lg bg-red-200 p-2 text-slate-800">
    <i class="ti ti-alert-circle"></i>
    <span class="font-bold">
      The device is too narrow, the article shows that it may be affected!
    </span> 
  </div>
  <div class="flex flex-col gap-y-3 sm:p-6 mt-6 sm:mx-2 mx-0">
    {{ if .Params.cover}}
    <div class="mx-auto">
      <img src="{{.Params.cover}}"/>
    </div>
    {{ end }}
    <h1 class="text-4xl font-semibold text-slate-800 dark:text-slate-100">
      <a href="{{ .RelPermalink }}">{{ .Title | .RenderString }}</a>
    </h1>

    {{ with .Description }}
    <h2 class="mt-4 mb-2 text-xl font-serif text-slate-600 dark:text-slate-300">
      {{ . | $.Page.RenderString }}
    </h2>
    {{ end }}

    <div class="py-2">
      {{ partial "time.html" . }}
    </div>
    <div class="py-2">
      {{ partial "taxonomies.html" .}}
    </div>

    {{ if default false (default .Site.Params.WithToc .Params.WithToc) }}
      <section class="prose prose-slate dark:prose-invert w-full max-w-4xl lg:max-w-5xl mt-6">
        <h2 id="TocHead">Table of Contents</h2>
        <aside>{{ .TableOfContents }}</aside>
      </section>
    {{ end }}

    <article class="mt-6 w-full max-w-4xl lg:max-w-5xl prose prose-slate dark:prose-invert prose-quoteless post-content">
      {{ .Content | safeHTML }}
    </article>

  </div>
  <button
  id="back-to-toc"
  class="fixed bottom-8 right-8 p-2 bg-slate-500 text-white rounded-full shadow-lg hover:bg-slate-600 transition-colors group opacity-20 dark:opacity-80"
  onclick="scrollToToc()"
  >
  <i class="ti ti-arrow-up text-lg"></i>
  <!-- Tooltip -->
  <span class="absolute bottom-full mb-2 hidden group-hover:block bg-black text-white text-sm px-2 py-1 rounded whitespace-nowrap">
    Back to TOC
  </span>
  </button>
<div class="h-20"></div>
</div>
{{ end }}