:root {
  --footer-font-size: 20px;
  --footer-powerby-font-size:15px;
  --scroll-bar-width: 5px;
}

.footer {
  font-size: var(--footer-font-size);
}

.footer-social {
  font-size: var(--footer-font-size);
}

.powerby {
  font-size: var(--footer-powerby-font-size);
}

::-webkit-scrollbar{
    height: auto;
    width: var(--scroll-bar-width);
  }
  
::-webkit-scrollbar-thumb{
  background-color: hsla(0, 0%, 69%, 0.4);
  border-radius: calc(var(--scroll-bar-width) /2);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsla(0, 0%, 69%, 0.8);
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.hint {
  @apply py-0.5 dark:text-slate-800 border-l-4
}

.hint-Info {
  @apply  border-emerald-500 bg-emerald-100 
}

.hint-Warning {
  @apply border-amber-500 bg-amber-100 
}

.hint-Danger {
  @apply border-red-500 bg-red-100 
}

.searchcard {
  @apply border-b-2 px-5 py-2 last:border-b-0
}

.cardtitle {
  @apply text-xl
}

.carddesc {
  @apply text-xs truncate block font-light italic
}

.hovertext {
  @apply hover:text-blue-600 dark:hover:text-blue-300
}

.typst-doc {
  @apply fill-none h-auto w-full
}

.typst-text {
  @apply  dark:fill-white fill-slate-800
}