<nav class="primary-nav" aria-label="Primary navigation">
  <div class="primary-nav__inner">
    <a href="{{ .Site.Home.RelPermalink }}" class="primary-nav__brand">
      {{ .Site.Params.Name }}
    </a>

    <button
      id="smbt"
      data-collapse-toggle="navbar-default"
      type="button"
      class="primary-nav__toggle"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      {{ partial "material-icon.html" (dict "name" "menu") }}
    </button>

    <div class="primary-nav__panel" id="navbar-default">
      <ul class="primary-nav__links">
        {{ $currentPage := . }}
        {{ range $index, $item := .Site.Menus.main }}
          {{ $menuURL := partial "site-url.html" .URL }}
          {{ $isActive := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.RelPermalink $menuURL) }}
          <li>
            <a
              href="{{ $menuURL }}"
              {{ if $isActive }}aria-current="page"{{ end }}
              class="primary-nav__link {{ if $isActive }}is-active{{ end }}"
            >{{ .Name }}</a>
          </li>
        {{ end }}
        {{ range .Site.Params.Navigation.Tabs }}
          {{ $tabURL := partial "site-url.html" .url }}
          {{ $normalizedURL := strings.TrimSuffix "/" $tabURL }}
          {{ $currentURL := strings.TrimSuffix "/" $currentPage.RelPermalink }}
          {{ $homeURL := strings.TrimSuffix "/" $currentPage.Site.Home.RelPermalink }}
          {{ $isActive := or (eq $currentURL $normalizedURL) (and (ne $normalizedURL "") (ne $normalizedURL $homeURL) (strings.HasPrefix $currentURL (printf "%s/" $normalizedURL))) }}
          <li>
            <a
              href="{{ $tabURL }}"
              {{ if $isActive }}aria-current="page"{{ end }}
              class="primary-nav__link {{ if $isActive }}is-active{{ end }}"
            >{{ .name }}</a>
          </li>
        {{ end }}
        {{ $showTaxonomyTab := or .Site.Params.Navigation.ShowTaxonomies .Site.Params.Navigation.ShowTags .Site.Params.Navigation.ShowCategories }}
        {{ if $showTaxonomyTab }}
          {{ $isActive := and (or (eq $currentPage.Kind "taxonomy") (eq $currentPage.Kind "term")) (or (eq $currentPage.Data.Plural "tags") (eq $currentPage.Data.Plural "categories")) }}
          {{ $taxonomyURL := .Site.Params.Navigation.TaxonomyURL | default "/tags/" }}
          <li>
            <a
              href="{{ partial "site-url.html" $taxonomyURL }}"
              {{ if $isActive }}aria-current="page"{{ end }}
              class="primary-nav__link {{ if $isActive }}is-active{{ end }}"
            >{{ .Site.Params.Navigation.TaxonomyLabel | default (.Site.Params.Navigation.TagsLabel | default "Tags") }}</a>
          </li>
        {{ end }}
        <li>
          <label for="darkmode-toggle" class="primary-nav__theme" title="Toggle color theme">
            <input name="darkmode-toggle" id="darkmode-toggle" type="checkbox" class="sr-only" aria-label="Use dark mode">
            {{ partial "material-icon.html" (dict "name" "light_mode" "class" "primary-nav__sun") }}
            {{ partial "material-icon.html" (dict "name" "dark_mode" "class" "primary-nav__moon") }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</nav>
