{{ if eq .Kind "taxonomy" }}
  {{ partial "taxonomy-index.html" . }}
{{ else }}
  <div class="page-shell default-list">
    {{ partial "page-header.html" . }}
    <div class="default-list__years">
      {{ range (.Pages.ByPublishDate.Reverse.GroupByDate "2006") }}
        <section aria-labelledby="year-{{ .Key }}">
          <h2 id="year-{{ .Key }}" class="default-list__year">{{ .Key }}</h2>
          <ul>
            {{ range .Pages }}
              {{ $page := . }}
              {{ $typstManifest := partial "typst/manifest.html" . }}
              <li class="default-list__item">
                <article class="default-list__article">
                  <div class="default-list__content">
                    <h3 class="default-list__title">
                      <a href="{{ .RelPermalink }}" >{{ .Title | .RenderString }}</a>
                    </h3>
                    <div class="default-list__summary">
                      {{ with .Description }}
                        {{ . | $page.RenderString }}
                      {{ else }}
                        {{ if $typstManifest }}
                          {{ $typstManifest.summary }}
                        {{ else }}
                          {{ with .Summary }}{{ . | $page.RenderString }}{{ end }}
                        {{ end }}
                      {{ end }}
                    </div>
                    {{ partial "taxonomies.html" . }}
                  </div>

                  <div class="default-list__metadata">
                    {{ if .Date }}
                      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                      <time datetime="{{ $dateMachine }}">{{ .Date.Format ($.Site.Params.DateFormatList | default "Jan 02") }}</time>
                    {{ end }}
                    {{ if $.Site.Params.showReadingTime }}
                      {{ $readingTime := .ReadingTime }}
                      {{ with partial "typst/manifest.html" . }}{{ $readingTime = .readingTime }}{{ end }}
                      <span aria-hidden="true">/</span>
                      <span>{{ $readingTime }} min</span>
                    {{ end }}
                  </div>
                </article>
              </li>
            {{ end }}
          </ul>
        </section>
      {{ end }}
    </div>
  </div>
{{ end }}
