{{ if or .Params.categories .Params.tags }}
  <ul class="term-list" aria-label="Article taxonomy">
    {{ range .Params.categories }}
      <li>
        <a href="{{ (urlize (printf "categories/%s" .)) | relLangURL }}/" class="term-link term-link--category" aria-label="Category: {{ . }}">{{ . }}</a>
      </li>
    {{ end }}
    {{ range .Params.tags }}
      <li>
        <a href="{{ (urlize (printf "tags/%s" .)) | relLangURL }}/" class="term-link">#{{ . }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}
