<div class="flex flex-wrap gap-x-4 gap-y-2 text-sm tabular-nums text-muted">
  {{ if .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    <div class="inline-flex items-center gap-1.5">
      {{ partial "material-icon.html" (dict "name" "calendar_month" "class" "h-5 w-5") }}
      <time datetime="{{ $dateMachine }}">{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</time>
    </div>
  {{ end }}

  {{ if .GitInfo }}
    <span>Updated {{ .GitInfo.AuthorDate.Format "2006-01-02" }}</span>
  {{ end }}

  {{ if and $.Site.Params.ShowReadingTime (not .Params.Nowordtime) }}
    {{ $readingTime := .ReadingTime }}
    {{ $wordCount := .WordCount }}
    {{ with partial "typst/manifest.html" . }}
      {{ $readingTime = .readingTime }}
      {{ $wordCount = .wordCount }}
    {{ end }}
    <span>{{ $readingTime }} min read</span>
    <span>{{ $wordCount }} words</span>
  {{ end }}
</div>
