<div class="article-metadata">
  {{ if .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    <div class="article-metadata__date">
      {{ partial "material-icon.html" (dict "name" "calendar_month") }}
      <time datetime="{{ $dateMachine }}">{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}</time>
    </div>
  {{ end }}

  {{ if .GitInfo }}
    <span>Updated {{ .GitInfo.AuthorDate.Format "2006-01-02" }}</span>
  {{ end }}

  {{ if and $.Site.Params.ShowReadingTime (not .Params.Nowordtime) }}
    {{ $readingTime := .ReadingTime }}
    {{ $wordCount := .WordCount }}
    {{ with partial "typst/manifest.html" . }}
      {{ $readingTime = .readingTime }}
      {{ $wordCount = .wordCount }}
    {{ end }}
    <span>{{ $readingTime }} min read</span>
    <span>{{ $wordCount }} words</span>
  {{ end }}
</div>
