<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white dark:bg-gray-900 sm:px-4 max-w-[1024px] mx-auto">
  <header>
    {{  partial "header.html" . }}
  </header>
  <main id="content" class="min-h-frame px-4 sm:px-8">
    {{  block "main" . }}{{ end }}
  </main>
  <footer>
    {{  partial "footer.html" . }}
  </footer>
</body>
{{ partial "head/js.html"}}
</html>
