{{ define "main" }}
<div class="text-slate-800 dark:text-gray-50" id="text-wrapper">
<div class="mt-11 pt-11 pb-1">
    <div class="container mx-auto">
        <h1 class="name text-5xl sm:text-7xl"><b>{{ .Site.Params.Name }}</b></h1>
    </div>
</div>
<div class="mb-10 py-4">
    <div class="container mx-auto">
        <h2 class="bio leading-relaxed text-2xl sm:text-3xl text-slate-800 dark:text-gray-50 font-serif font-light italic">{{ .Site.Params.Description }}</h2>
    </div>
</div>

{{ if $.Site.Params.Search }}
<h2 class="text-2xl font-bold pt-8 sm:pt-14">Search Posts</h2>
<span class="text-slate-600 dark:text-gray-50 text-md mb-8">Start by searching for topics you're interested in :).</span>

<div id="fastSearch" class="pt-1 sm:pt-3 container mx-auto">
    <input id="searchInput" placeholder="Type Something..." class= "text-lg border-2 dark:border-0 w-full px-4 py-2 rounded-3xl focus:outline-none focus:ring-2 focus:ring-slate-800 dark:ring-0 focus:border-transparent dark:bg-slate-600" tabindex="0">
    <div id="hidegroup"class="hidden">
        <div class="mt-2 text-md">
            <span id="resultCount" class="font-semibold">0</span> Pages Found...
        </div>
        <ul id="searchResults" class="mt-3 border-2 rounded-lg">
        </ul>
    </div>
    <p id="noResultsMessage" class="mt-4 hidden">Oops Nothing Found😯</p>
</div>
{{ end }}

{{ if $.Site.Params.RecentPosts }}
<h2 class="text-2xl font-bold mb-8 pt-8 sm:pt-14">Recent Posts</h2>
{{ $recentPostsCount := .Site.Params.recentPostsCount | default 5 }}
{{ $recentPosts := first $recentPostsCount (where .Site.RegularPages "Type" "articles") }}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {{ range $recentPosts }}
    <div class="bg-white dark:bg-slate-600 rounded-lg shadow-md overflow-hidden">
      {{ if .Params.cover }}
        {{ $cover := .Resources.Get .Params.cover }}
        {{ if $cover }}
            {{ $resized := $cover.Resize "600x400" }}
            <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" class="w-full h-48 object-cover" />
        {{ else }}
            <p>Cover image not found: {{ .Params.cover }}</p>
        {{ end }}
      {{ end }}
    
      <div class="p-6">
        <h2 class="text-xl font-bold mb-2">
          <a href="{{ .RelPermalink }}" class="hovertext">{{ .Title }}</a>
        </h2>
        <p class="text-gray-600  dark:text-gray-100 mb-4">{{ .Description | truncate 100 }}</p>
        <div class="flex items-center text-sm text-gray-500 dark:text-gray-200">
          <span>{{ .Date.Format "2006-01-02" }}</span>
          <span class="mx-2">•</span>
          <span>{{ .ReadingTime }} min read</span>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{end}} 
<!-- End of judge recent posts -->
</div>
<div class="h-20"></div>
{{end}}